<div fxLayout="column" fxLayoutAlign="center center" class="login-main">
  <mat-card>
    <mat-card-header>
      <mat-card-title><h1>Elisa</h1></mat-card-title>
    </mat-card-header>
    <form (ngSubmit)="onSubmit()" [formGroup]="loginForm">
    <mat-card-content fxLayout="column">
      <mat-form-field>
        <input matInput
        placeholder="Username"
        formControlName="name"
        [errorStateMatcher]="matcher">
        <mat-hint>Enter username as AIS ID (ex: xuser)</mat-hint>
        <mat-error *ngIf="loginForm.get('name').hasError('required')">
          Username field is required!
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput
        [type]="hidePwd ? 'password' : 'text'"
        placeholder="Enter Password"
        formControlName="password"
        [errorStateMatcher]="matcher">
        <mat-icon matSuffix (click)="hidePwd = !hidePwd">{{!hidePwd ? 'visibility_off' : 'visibility'}}</mat-icon>
        <mat-hint>Enter corresponding password</mat-hint>
        <mat-error *ngIf="loginForm.get('password').hasError('required')">
          Password field is required!
        </mat-error>
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions fxFlexAlign="end">
      <button mat-raised-button color="primary" [disabled]="loginForm.invalid">Login</button>
    </mat-card-actions>
    </form>
  </mat-card>
  <app-spinner [loadingText]="statusText" [hidden]="loading ? false : true"></app-spinner>
</div>
