<div fxLayout="row" fxLayoutAlign="center center" class="login-main">
  <form (ngSubmit)="onSubmit()" [formGroup]="courseForm">
    <div fxLayout="column">
      <mat-form-field>
        <input matInput required placeholder="Code" formControlName="code" [value]="data.course.code ? data.course.code : ''">
      </mat-form-field>
      <mat-form-field>
        <input matInput required placeholder="Name" formControlName="name" [value]="data.course.name ? data.course.name : ''">
      </mat-form-field>
      <mat-form-field>
        <input matInput required placeholder="completion" formControlName="completion" [value]="data.course.completion ? data.course.completion : ''">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Department</mat-label>
        <select matNativeControl required formControlName="department">
          <option *ngFor="let department of data.departments | keyvalue" [value]="department.key">{{department.value.name}}</option>
        </select>
      </mat-form-field>
      <button mat-raised-button color="primary" [disabled]="!courseForm.valid">{{newCourse ? 'Add' : 'Update'}}</button>
      <button *ngIf="!newCourse" mat-raised-button color="primary" (click)="removeCourse()">Remove</button>
    </div>
  </form>
</div>
