<mat-sidenav-container class="example-container">
  <mat-sidenav mode="side" opened class="sideNavBar" [disableClose]="true">
    <div fxLayout="column" fxLayoutAlign="center center">
      <h1>Elisa</h1>
      <span>{{userName}}</span>
      <button mat-raised-button (click)="selectVersion()">Version Select</button>
      <button mat-raised-button color="warn" (click)="logout()">Logout</button>
      <app-spinner
      [hidden]="!loading"
      [loadingText]="loadingText"
      [color]="'warn'"></app-spinner>
    </div>
    <mat-divider></mat-divider>
    <mat-nav-list fxLayout="column">
      <app-nav-list-item *ngFor="let item of menu" [item]="item"></app-nav-list-item>
    </mat-nav-list>
    <mat-divider></mat-divider>
      <div class="role-content">
        <mat-expansion-panel (opened)="panelOpenState = true"
        (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
          <mat-panel-title>
          User Roles:
          </mat-panel-title>
          </mat-expansion-panel-header>
          <mat-list dense>
            <mat-list-item *ngFor="let role of roleObjects">{{role.name}}</mat-list-item>
          </mat-list>
        </mat-expansion-panel>
      </div>
    <mat-divider></mat-divider>
    <mat-nav-list class="languages" fxLayout="row">
      <mat-list-item>
        <a  href="" (click)="changeLang('sk')">
          <span>SK</span>
        </a>
      </mat-list-item>
      <mat-list-item>
        <a  href="" (click)="changeLang('en')">
          <span>EN</span>
        </a>
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <!-- <router-outlet name='adminView'></router-outlet> -->
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
