.example-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  .sideNavBar{
    background: #013f78;
    color: white;
  }
  .mat-list-item{
    color: white;
  }
  .mat-divider{
    border-top-color: white;
    margin-top: 24px;
    margin-botton: 24px;
  }
  .languages{
    .mat-list-item{
      margin:16px;
    }
  }
}

