<div class="data-list" fxLayout="column" fxLayoutAlign="center center">
  <div class="header" >
    <div class="col-xs-12">
      <h2 i18n="@@Users">Users</h2>
    </div>
    <div class="header-buttons" fxLayout="row" fxLayoutAlign="start center">
      <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
      </mat-form-field>
      <!--<mat-form-field>-->
      <!--<mat-label>Schema</mat-label>-->
      <!--<mat-select (selectionChange)="schemaChange($event.value)">-->
      <!--<mat-option *ngFor="let option of schemas" [value]="option.name">{{option.name}}</mat-option>-->
      <!--</mat-select>-->
      <!--</mat-form-field>-->
      <div>
        <button mat-raised-button>Import</button>
        <button mat-raised-button (click)="addUser()">Add</button>
      </div>
    </div>
  </div>

  <mat-table class="data-table" [dataSource]="dataSource" matSort>

    <ng-container matColumnDef="id">
      <mat-header-cell  *matHeaderCellDef mat-sort-header> AIS ID </mat-header-cell>
      <mat-cell  *matCellDef="let element"> {{element.id}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef mat-sort-header = "last_name" > Name </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.first_name}} {{element.last_name}} </mat-cell>
    </ng-container>

    <mat-header-row  *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row  *matRowDef="let row; columns: displayedColumns;" (click)="showDetails(row)"></mat-row>
  </mat-table>
  <mat-paginator [pageSizeOptions]="pageSizeOptions"></mat-paginator>
</div>
