<div fxLayout="row" fxLayoutAlign="center center" class="login-main">
    <form (ngSubmit)="onSubmit()" [formGroup]="userForm">
      <div fxLayout="column">
        <mat-form-field>
          <input matInput required placeholder="Username" formControlName="username" [value]="data.username ? data.username : ''">
        </mat-form-field>
        <mat-form-field>
          <input matInput required placeholder="First Name" formControlName="firstName" [value]="data.first_name ? data.first_name : ''">
        </mat-form-field>
        <mat-form-field>
          <input matInput required placeholder="Last Name" formControlName="lastName" [value]="data.last_name ? data.last_name : ''">
        </mat-form-field>
        <mat-form-field>
          <mat-label>Role</mat-label>
          <select matNativeControl required formControlName="role">
            <option value="MAIN_TIMETABLE_CREATOR">MAIN_TIMETABLE_CREATOR</option>
            <option value="LOCAL_TIMETABLE_CREATOR">LOCAL_TIMETABLE_CREATOR</option>
            <option value="TEACHER">TEACHER</option>
            <option value="STUDENT">STUDENT</option>
          </select>
        </mat-form-field>
        <button mat-raised-button color="primary" [disabled]="!userForm.valid">{{newUser ? 'Add' : 'Update'}}</button>
        <button *ngIf="!newUser" mat-raised-button color="primary" (click)="removeUser()">Remove</button>
      </div>
    </form>
</div>
