<full-calendar id="test" *ngIf="options"
  #calendar
  defaultView="resourceTimelineDay"
  [plugins]="options.plugins"
  [columnHeader]="options.calendarHeader"
  [header]="false"
  minTime="7:00:00"
  maxTime="22:00:00"
  slotDuration="01:00:00"
  resourceAreaWidth = "100px"
  [height]= "options.height"
  [editable]="options.editable"
  [selectable]="options.selectable"
  [droppable]="options.droppable"
  [resourceLabelText]="resourceName"
  [resources]="resources"
  [events]="events"
  (dateClick) = "handleDateClick($event)"
  (select) = "handleSelect($event)"
  (drop) = "handleEventDrop($event)"
  (eventResize) = "handleEventResize($event)"
  (eventDrop) = "handleDrag($event)"
  (eventClick) = "handleEventClick($event)"
  schedulerLicenseKey = 'GPL-My-Project-Is-Open-Source'
></full-calendar>
