<div class="select-content" fxLayout="column" fxLayoutAlign="space-around center">
  <mat-card fxLayout="column" fxLayoutAlign="space-around center" class="not-found">
    <mat-card-header>
      <mat-card-title>Page not Found!</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>The provided URL could not be resolved. Try to check if the provided URL is correct.</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" (click)="onHomeClick()">Go to Homepage</button>
    </mat-card-actions>
  </mat-card>
</div>
