.collision-right{
  border-radius: 25px;
  border: 2px solid;
  padding: 20px;
  .mat-icon-button{
    height:15px !important;
    width:15px !important;
    .mat-icon{
      font-size:15px !important;
    }

  }
}
