<div fxLayout="column" fxLayoutAlign="start center" class="dashboard">
  <div class="header" fxLayoutAlign="center center">
    <h1>Elisa</h1>
  </div>
  <div class="info" fxLayout="row" fxLayoutAlign="space-evenly center">
    <mat-card class="card schemeCard">
      <mat-card-header>
        <mat-card-title>Scheme</mat-card-title>
      </mat-card-header>
      <mat-card-content fxLayout="column" fxLayoutAlign="start start">
        <div fxLayout="row">
          <h4>Scheme</h4>
          <span>ZS 2019/2020</span>
        </div>
        <div fxLayout="row">
          <h4>Version</h4>
          <span>1.2.5</span>
        </div>
      </mat-card-content>
      <mat-card-actions fxFlexAlign="end end">
        <button mat-raised-button>Export</button>
      </mat-card-actions>
    </mat-card>
    <mat-card class="card requirementsCard">
      <mat-card-header>
        <mat-card-title>Requirements</mat-card-title>
      </mat-card-header>
      <mat-card-content>

      </mat-card-content>
    </mat-card>
    <mat-card class="card collisionCard">
      <mat-card-header>
        <mat-card-title>Collisions</mat-card-title>
      </mat-card-header>
      <mat-card-content>

      </mat-card-content>
    </mat-card>
  </div>
</div>
