<div fxLayout="column" fxLayoutAlign="space-around center">
  <h3>Search and edit Users</h3>
    <app-user-search *ngIf="users; else showSpinner"
      [users]="users"
      (selectedUser)="onSelectedUser($event)"
      (selected)="onSelected($event)"
      style="width: 50%;"></app-user-search>
    <ng-template #showSpinner>
      <app-spinner [hidden]="!loading" [loadingText]="'Fetching users...'"></app-spinner>
    </ng-template>
    <button mat-raised-button color="primary" [disabled]="!selected && !authorization.managing" (click)="onManageClick()">Manage</button>
  <div class="detail-wrapper">
    <app-user-role-detail [user]="selectedUser" (closeMe)="onCloseDetailHandle($event)" *ngIf="manage"></app-user-role-detail>
  </div>
</div>
