Django==2.2.8
django-cors-headers==2.5.1
django-filter==2.1.0
django-import-export==1.1.0
django-mptt==0.9.0
djangorestframework-simplejwt==4.1.0
djangorestframework==3.9.1
drf-extensions==0.4.0
psycopg2==2.8.4
django-tenants==2.2.3
django-python3-ldap==0.11.2
django-fsm==2.6.1
python-decouple==3.3
drf-yasg==1.17.0